@mixin container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@mixin goFlex($direction: row, $justify: space-between) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: wrap;
  justify-content: $justify;
  align-items: center;
}

%section {
  width: 500px;
  height: 700px;
  background-color: $section-bg-color;
}

%box-element {
  width: 150px;
  height: 150px;
  background-color: $secondary-color;
}
